header{


  flex-direction: column-reverse;
  background-color: rgb(229, 183, 255)
;
}
nav a{

    padding: 60px;
}
footer p{
    text-align: center;
}
footer{
    background-color: rgb(117, 186, 231);
    padding-top: 40px;
    padding-bottom: 40px;
}
nav{
    text-align: center;
}
.pepe{font-style: italic;
text-align: center;
}
.pe{
   text-align: center; 
}